@import './fonts.scss';

.container2 {
    width: 90%;
    height: 300px;
    margin: auto;
    position: relative;
    margin-top: 10vh;

    #table-header {
        border: 1px #333 solid;
        border-collapse: collapse;
        margin: auto;
        width: 100%;
        tr {
            td {
                border: 1px #333 solid;
                height: 40px;
                padding: 5px;
                input[type="date"] {
                    border: 1px #333 solid;
                    border-radius: 5px;
                    height: 20px;
                    text-align: center;
                }
                input[type="text"] {
                    margin-left: 10px;
                    height: 25px;
                    width: 300px;
                    border-radius: 5px;
                    border: 1px #333 solid;
                    cursor: pointer;
                    font-family: $Montserrat;
                    text-transform: capitalize;
                    padding: 5px;
                    font-size: 15px;
                    transition: all 0.3s;
                    &:focus {
                        border: 1px #333 solid;
                        outline: none;
                        background-color: rgba($color: #333, $alpha: 0.05);
                    }
                }
                h3 {
                    text-align: center;
                }
                label {
                    cursor: pointer;
                }
            }
        &:nth-child(1) {
            background: #333;
            color: #FFF;
            font-family: $Montserrat;
        }
        }
    }
}

.container3 {
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    position: relative;
    height: 1700px;
    p {
        margin-bottom: 10px;
    }
    #main-table {
        margin: auto;
        border-collapse: collapse;
        tr {
            td {
                border: 1px #333 solid;
                padding: 5px;
                input[type="radio"] {
                    cursor: pointer;
                }
                textarea{
                    height: 800px;
                    width: 100%;
                    vertical-align: top;
                    transition: all 0.3s;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 1px #000 solid;
                    padding-top: 0px;
                    font-family: $Montserrat;
                    padding: 5px;
                    resize: none;
                    transition: all 0.3s;
                    &:focus {
                        border: 1px #000 solid;
                        outline: none;
                        background-color: rgba($color: #000000, $alpha: 0.05);
                    }
                    &:first-of-type {
                        height: 500px;
                    }
                    &:last-of-type {
                        height: 300px;
                    }
                }
            }
            &:nth-child(1), &:nth-child(12), &:nth-child(28) {
                background: #333;
                text-align: center;
                color: #FFF;
                font-weight: bold;
                font-family: $Montserrat;
            }
        }
        .côté {
            transform: rotate(-90deg);
            text-align: center;
            font-weight: bold;
        }
    }
}